<html>
<body>
<form action="/edit/drawing" method="post">
    <div>
      <label for="drawing_name">Username</label>
      <input name="username" type="text" size="30" value="Your username here"/>
      <input name="drawing[name]" type="hidden" value="drawing"/>
      <input name="drawing[program]" type="hidden" value=""/>
      <input name="commit" type="submit" value="Update Drawing" />
    </div>
</body>
</html>
